p {
  font-family: Arial, Helvetica, sans-serif;
  padding:0px;
  margin:0px;
}

#card {
  transition: 0.8s;
  border-radius: 6px; /* 5px rounded corners */
  padding: 0px;
  margin: 20px;

  border-style: solid;
  border-width: 2px;
  border-color:#e78880;
  background-color:#e78880;
  max-height:80px;
}

/* Add some padding inside the card container */
#container {
  padding-right: 20px;
  padding-left: 20px;
  transition: 0.8s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color:#30393c
}

#position {
  height:70px;
  order:1;
  flex-grow:3;
  flex-shrink:2;
}

#employmentType {
  margin-top:10px;
  padding-bottom:1px;
  font-size:0.6em;
  font-weight: bold;
}

#title {
  font-weight: bold;
  font-size:1.2em;
}

#hiringOrganization {
  padding-top:3px;
  color:#a4625c;
  font-size:0.7em;
}

#info {
  order:2;
  flex-grow:1;
  flex-shrink:1;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

#datePostedContainer {
  transition: 0.8s;
  position:relative;
  order:1;
  flex-grow: 1;
  flex-shrink:1;
}

#datePosted {
  position:absolute;
  font-size:0.5em;
  bottom:0;
  right:0;
}

#jobLocation {
  order: 2;
  flex-grow: 1;
  flex-shrink:1;
  align-self:flex-end;
  text-align:right;
  font-size:0.5em;
}

#summaryTitle {
  text-align:left;
  margin-top:20px;
  margin-bottom:10px
}
#requirementsTitle {
  text-align:left;
  margin-top:20px;
  margin-bottom:10px;
}

#summaryContainer {
  padding:0px;
  padding-left: 20px;
  padding-right: 20px;
  margin:0px;
  display: flex;
  flex-direction: column;
  transition: 0.8s;
  flex-wrap: nowrap;
  justify-content:space-between;

  height:0px;
  opacity:0;
  display:none;
}

#summaryLeftColumn {
  order:1;
  flex-grow: 1;
  flex-shrink:1;
}
#summaryDivider {
  /*background-color:yellow;*/
  order:2;
  flex-grow: 1;
  flex-shrink:1;
  min-width:20px;
}
#requirements {
  /*background-color:orange;*/
  order:3;
  flex-grow: 1;
  flex-shrink:1;
}
#requirementsList {
  padding:0px;
  margin:0px;
  padding-bottom: 20px;
}


#actionsContainer {
  transition: 0.8s;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity:0;
  display:none;
  padding:0px;

}

button:focus {
  outline: none;
}

button {
  background-color:transparent;
  border:0px;
  height:66px;
  outline: none;
}

#likeButton {
  order: 1;
  flex-grow: 1;
  flex-shrink:1;
  align-self:flex-start;
  color: #37a0e1;
  background-color: #ffffff;
  border-radius:0px 0px 0px 5px;
  border-top: 2px solid #37a0e1;
  /*border-right: 1px solid #37a0e1;*/
}

#commentButton {
  order: 2;
  flex-grow: 1;
  flex-shrink:1;
  color: #37a0e1;
  background-color: #ffffff;
  border-radius:0px 0px 5px 0px;
  border-top: 2px solid #37a0e1;
  /*border-right: 1px solid #37a0e1;*/
}

#shareButton {
  order: 3;
  flex-grow: 1;
  flex-shrink:1;
  color: #37a0e1;
  border-radius:0px 0px 0px 0px;
  border-top: 2px solid #37a0e1;
  /*border-right: 1px solid #37a0e1;*/
  background-color: #ffffff;
}

#viewPost {
  order: 4;
  flex-grow: 2;
  flex-shrink:2;
  color: #44bbf7;
  font-size:0.9em;
  background-color: #ffffff;
  border-radius:0px 0px 9px 0px;
  border-top: 2px solid #37a0e1;
  /*border:solid 1px #37a0e1;*/
  /*color:#e78880;*/
}


